.blog-title {
  text-decoration: none;
}

a:hover {
  color: indianred;
}

.small-button {
  font-size: 12px;
  padding: 4px 10px;
}

.comment-heading-style{
  font-style: oblique;
  font-family: fantasy;
  font-size: small; 

}